<div class="container">
<h1>Les livres index</h1>
<%= link_to "Ajouter un livre à la bibliothèque", new_livre_path, class: "btn btn-flat" %>



<ul>
  <div class="row">
    <%@livres.each do |livre| %>
        <li>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= livre.picture %>" alt="Card image cap">
            <div class="card-body">
             <h5 class="card-title"><%= livre.title %></h5>
              <p class="card-text"><%= livre.description %></p>
              <a target="_blank" href="<%= livre.url %>" class="btn btn-success">plus d'infos</a>
           </div>
         </div>
       </li>
   <% end %>
  </div>
</ul>
<!-- ne pas oublie le lien -->
