<div class="container">
  <%= simple_form_for @livre do |f| %>
    <%= f.input :title %>

    <%= f.input :description %>

    <%= f.input :author %>

    <%= f.input :url %>

    <%= f.input :picture %>

    <div class="btn-flat text-center">
      <%= f.button :submit %>
    </div>
</div>
<% end %>
