<div class="container">
  <h1>Les projets index</h1>
  <% if policy(Article).create? %>
    <%= link_to "Ajouter un projet", new_projet_path, class: "btn btn-flat" %>
  <% end %>
</div>
<div class="container">
<% @projets.each do |projet| %>
<a target="_blank" href="<%= projet.url %>">
<div class="card-trip">
  <img src="<%= projet.picture %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= projet.title %></h2>
      <p><%= projet.description %></p>
      <% if policy(projet).edit? %>
        <p><%= link_to 'Edit', edit_projet_path(projet) %></p>
      <% end %>
      <% if policy(projet).edit? %>
        <p><%= link_to 'Destroy', projet, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
</a>
<% end %>

<p><%= link_to "Retour Accueil", root_path %></p>
</div>

