<div class="container">
  <h1 id="green">Tous mes projets :</h1>
  <% if policy(Article).create? %>
    <%= link_to "Ajouter un projet", new_projet_path, class: "btn btn-flat" %>
  <% end %>
</div>
<div class="container">
<% @projets.each do |projet| %>
<%= link_to projet_path(projet) do %>
<div class="card-trip">
  <img src="<%= projet.background_picture %>" />
  <div class="card-trip-infos">
    <div>
      <h2 id="green"><%= projet.title %></h2>
      <h2 id="green"><strong><%= projet.description %><strong></p>
      <% if policy(projet).edit? %>
        <p><%= link_to 'Edit', edit_projet_path(projet) %></p>
      <% end %>
      <% if policy(projet).edit? %>
        <p><%= link_to 'Destroy', projet, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>

<%= link_to "Retour Accueil", root_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
</div>

