<h1>Les Projets index</h1>

<%= link_to "Ajouter un projet", new_projet_path, class: "btn btn-flat" %>

  <% @projets.each do |projet| %>
  <div class="container">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="<%= projet.picture %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=projet.title %></h5>
        <p class="card-text"><%= projet.description %></p>
        <a target="_blank" href="<%=projet.url %>" class="btn btn-primary">Voir le projet</a>
      </div>
    </div>
  </div>
  <% end %>
<p><%= link_to "Retour Accueil", root_path %></p>
