<div class="container">
<h1>Créer un nouveau projet</h1>

<%= simple_form_for @projet do |f| %>

  <%= f.input :title %>

  <%= f.input :description %>

  <%= f.input :url_projet %>

  <%= f.input :background_picture %>

  <%= f.input :text %>
</div>
<div class="container">
  <div class="row">
    <h1> Attention : Garder de grandes photos, et les dimenssionner pareil #cloudinary</h1>
    <div class="col-sm-6">
      <%= f.input :picture_1 %>
    </div>
    <div class="col-sm-6">
      <%= f.input :picture_comment_1 %>
    </div>
    <div class="col-sm-6">
      <%= f.input :picture_2 %>
    </div>
    <div class="col-sm-6">
      <%= f.input :picture_comment_2 %>
    </div>
    <div class="col-sm-6">
      <%= f.input :picture_3 %>
    </div>
    <div class="col-sm-6">
      <%= f.input :picture_comment_3 %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</div>
