<h1>Créer ton nouveau projet !</h1>

<%= form_for @projet do |f| %>

  <%= f.label :title, "Entrez le titre" %>
  <%= f.text_field :title %>

  <%= f.label :description, "Entrez une description" %>
  <%= f.text_field :description %>

  <%= f.label :url, "Entrez l'url du site / projet" %>
  <%= f.text_field :url %>

  <%= f.label :picture, "Entrez l'url d'une illustration du projet" %>
  <%= f.text_field :picture %>

  <%= f.submit %>
<% end %>
