<div class="container">
  <h1 id="green">Mes articles :</h1>
  <% if policy(Article).create? %>
  <%= link_to "Ajouter un article", new_article_path, class: "btn btn-flat" %>
<% end %>
</div>




<div class="container">
<% @articles.each do |article| %>
<a target="_blank" href="<%= article.url %>">
<div class="card-trip">
  <img src="<%= article.picture %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= article.title %></h2>
      <p style="color: black"><strong><%= article.description %></strong></p>
      <% if policy(article).edit? %>
      <p><%= link_to 'Edit', edit_article_path(article) %></p>
      <% end %>
      <% if policy(article).edit? %>
      <p><%= link_to 'Destroy', article, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      </p>
    </div>
  </div>
</div>
</a>
<% end %>

<%= link_to "Retour Accueil", root_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
</div>
