<div class="container">
  <h1>Les videos index</h1>
  <%= link_to "Ajouter une vidéo", new_video_path, class: "btn btn-flat" %>
</div>
<div class="container">
<% @videos.each do |video| %>
<a target="_blank" href="<%= video.url %>">
<div class="card-trip">
  <img src="<%= video.picture %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= video.title %></h2>
      <p><%= video.description %></p>
    </div>
  </div>
</div>
</a>
<% end %>

<p><%= link_to "Retour Accueil", root_path %></p>
</div>
