<div class="container">
  <h1 id="green">Mes videos :</h1>

  <h2 id="green">J'ai pas encore upload mes vidéos, en attendant voici quelques pépites :</h2>


  <% if policy(Video).create? %>
    <%= link_to "Ajouter une vidéo", new_video_path, class: "btn btn-flat" %>
  <% end %>
</div>

<div class="container">
  <% @videos.each do |video| %>
  <div class="card m-3">
    <div class="card-header text-center">
      <h2><%= video.title %></h2>
      <div class="embed-responsive embed-responsive-21by9">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= video.description %></p>
        <footer class="blockquote-footer">Bonne lecture<br></footer>
      </blockquote>
            <% if policy(video).edit? %>
        <p><%= link_to 'Edit', edit_video_path(video) %></p>
      <% end %>
      <% if policy(video).edit? %>
        <p><%= link_to 'Destroy', video, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <% end %>

  <%= link_to "Retour Accueil", root_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
</div>
</div>
