<header>
    <script type="text/javascript">
function computeGains() {
var gains = document.getElementById('gains');

var ca = document.getElementById('ca').value;
var marge = document.getElementById('marge').value;
var acquisition = document.getElementById('acquisition').value;
var activation = document.getElementById('activation').value;
var retention = document.getElementById('retention').value;
var referral = document.getElementById('referral').value;
var revenue = document.getElementById('revenue').value;

if (testInt(ca) && testInt(marge) && testInt(acquisition) && testInt(activation) && testInt(retention) && testInt(referral) && testInt(revenue)) {

gains.value =(

(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))+
(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))
*(parseInt(revenue)/100))

}

else {
alert('Les valeurs introduites ne sont pas des nombres');
}
}


function testInt(value) {
return value == parseInt(value);
}

/* Ici c'est le code de typertext */

var TxtType = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtType.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
  this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
  this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 100 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
  this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
  this.isDeleting = false;
  this.loopNum++;
  delta = 100;
  }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #54DD88}";
        document.body.appendChild(css);
    };
</script>

</header>
<!--
Coucou petit coquin ! Bienvenue sur mon site, reste autant que tu voudras, mais n'oublie pas de m'informer si tu découvre des bugs ! //////////////////
-https://www.linkedin.com/in/quentin-deleglise-7a4459131/   ////////////////
-Deleglise.quentin@hotmail.fr
Bonne navigation à toi,

Quentin DELEGLISE
-->
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 id="green">J'améliore votre marketing, vos ventes et vos process !</h1>
    <p id="green">Optimisez votre business sans prendre de risques !</p>
    <div class="container">
      <div class="text-center">
        <!-- Typertext -->
        <div class="row">
          <div class="col-sm-12 text-center" >
            <h2 id="green">Ce que je crée :</h2>
            <h2  id="writter" class="typewrite" data-period="2000" data-type= '[ "Sites et apps web.", "Landing page","Campagnes mailing", "Campagnes ads (google/fb/insta/linkedin etc...)", "Contenu (web, vidéo, photographie ...)", "Processus automatisés (à peu près tout)" ]'>
            <span class="wrap">Tout pour vôtre réussite</span>
            </h2>
          </div>
        </div>
            <!-- Début de widget de lien Calendly -->
            <br>
            <br>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a class="btn btn-flat" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quentin-deleglise'});return false;">Programmer un appel</a>
<!-- Fin de widget de lien Calendly -->
      </div>
    </div>
  </div>
</div>
  <!-- Partie Compétences -->
  <div class="container text-center">
    <h2 id="green">Qui suis-je ?</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-">
        <div class="cardss-wrapper">

      <div class="cardss">

        <div class="cardss-image">
          <img src="https://res.cloudinary.com/asfxgf/image/upload/c_scale,h_450/v1592318108/Quentin_DELEGLISE_photo_1_bixsah.png" alt="Quentin DELEGLISE">
        </div>

      <ul class="social-icons">
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/quentintin1/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/asfxgf">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://medium.com/@quentindeleglise">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>Quentin DELEGLISE
          <br>
          <span class="job-title">Growth / Dev / Marketing</span>
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper -->
      </div>
      <div class="col-7">
        <div class="allprogressbar pt-6">
          <!-- activer les 2 dernières barres de progression pour montrer que je bosse dessus-->
          <h4>Automatisation :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%
            </div>
          </div>
          <h4>Outils web :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="color:black">80%
            </div>
          </div>
          <h4>Marketing :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
            </div>
          </div>
          <h4>Programmation back :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%
            </div>
          </div>
          <h4>Croissance :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%
            </div>
          </div>
          <h4>Programmation front :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%
            </div>
          </div>
          <h4>Vidéos :</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Mi-entrepreneur mi-développeur mi-marketeur, j'apporte mon expertise au service des entreprises qui souhaitent <b>digitaliser leur business</b>.<br>La complémentarité de <b>mes études</b> mêlée à ma <b>passion</b> pour le <b>growth-hacking</b> et la <b>gestion de projets</b> me permet d'offrir des <b>solutions optimales</b>.
    </h4>
  </div>
  <div class="container text-center" id="green">
    <h2>Ma vision des choses :</h2>
  </div>
  <div class="container text">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268524/samples/yeux_dmquy4.webp" alt="">
      </div>
      <div class="col-sm-8">
        <p>Je pense que les entrepreneurs sont les personnes qui façonnent ce monde, et qu’elles méritent plus de <b>soutien</b>; de <b>reconnaissance</b> et de <b>sécurité</b> dans cet environnement imprévisible.Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et petites entreprises dans leur stratégie digitale.<br>Pour installer <b>une relation de confiance</b> et garantir les meilleurs résultats aux entreprises que j'accompagne, je ne me rémunère qu'en fonction du résultat que j'apporte.
        </p>
        <p>Ainsi <b>nous travaillons ensemble, avec des intérêts similaires</b> dans un environnement sain.
        </p>
      </div>
    </div>
  </div>
  <div class="container text-center" id="green">
    <h2>Mes Etudes</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (bac +2 marketing / commerce / communication) m'as donné goût au commerce et installé de fortes bases marketing.
        </p>
        <p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (bac +3 gestion d'entreprise) m'as permis de mieux comprendre les problèmatiques rencontrées par les entrepreneurs.
        </p>
        <p>Mon diplôme de <a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'as permis de prendre conscience du nombre infini de solutions qu'apporte le web et la programmation.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592476485/education-removebg-preview_1_ey1udg.png" alt="">
      </div>
      <h3 id="green">Quelques exemples de ce que je fait :</h3>
      <ul>
        <li>- Ecoute des problématiques et <b>conseil sur les outils les plus adaptés</b> à vos besoins.</li>
        <li>- Elaboration et mise en place d’un <b>plan marketing</b>.</li>
        <li>- Elaboration et mise en place d’un <b>plan de communication</b>.</li>
        <li>- Elaboration et mise en place d’un <b>plan d'actions</b>.</li>
        <li>- Réalisation de <b>sites ou apps webs</b> et <b>pages de ventes.</b></li>
        <li>- Réalisation de <b>campagnes d’emailing</b>.</li>
        <li>- Réalisation de <b>campagnes ADS (google / facebook / Instagram)</b>.</li>
        <li>-<b>Prospection</b> automatisée (BtoB et BtoC).</li>
        <li>- Automatisation des <u><abbr title="Tâches répétitives ou laborieuses">"Drudgery tasks"</abbr></u> ou <u><abbr title="Travail que l'on peux effectuer sans réfléchir">"Donkey Work".</abbr></u>
        </li><!-- CSS/JS afficher les 2 mots en "surbrillance pour les faire mieux apparaitre -->
      </ul>
    </div>
  </div>
  <div class="container text-center">
    <h3 id="green">Tu es entrepreneur ou travaille dans une TPE/PME ?</h3>
    <br>
    <!-- Début de widget de lien Calendly -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a class="btn btn-flat" href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quentin-deleglise'});return false;">Discutons de vos problématiques</a>
<!-- Fin de widget de lien Calendly -->
  <!--Mettre un emoji love / message-->
    </p>
  </div>
  <div class="container col-sm-6 text-center">
    <h3 id="green">Envie d'en savoir plus sur moi ?</h3>
    <ul>
     <li><h4><%= link_to "Découvre mes projets", projets_path %></h4></li>
     <li><h4><%= link_to "Ma bibliothèque", livres_path %></h4></li>
     <li><h4><%= link_to "Mes ressources", ressources_path %></h4></li>
     <li><h4><%= link_to "Mes articles", articles_path %></h4></li>
     <li><h4><%= link_to "Mes vidéos", videos_path %></h4></li>
    </ul>
  </div>
  <!-- NOUVEAU FORM CALCUL -->
  <div class="container pb-3" style="background-color: grey">
    <h3 class="text-center" style="color: #54DD88">Estime directement l'impact de nôtre collaboration :</h3><br><br>
    <form>
      <div class="form-row align-items-center">
      <div class="col-sm-6">
        <h4 class="text-center">Insérez vôtre CA :</h4>
        <label class="sr-only" for="inlineFormInputGroup">CA</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control text-center" id="ca" placeholder="Insérez votre CA" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">€</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Insérez vôtre marge :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Marge</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control text-center" id="marge" placeholder="Insérez votre marge" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux d'acquisition :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Acquisition</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="acquisition" placeholder="Taux d'acquisition" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux d'activation :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Activation</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="activation" placeholder="Taux d'activation" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de rétention :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Retention</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="retention" placeholder="Taux de rétention" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de referral :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Referral</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="referral" placeholder="Taux de referral" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de revenue :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Revenue</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="revenue" placeholder="Revenue" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-center">Bénéfice estimé (en €) :</h4>
   <input type="number" class="form-control text-center mt-3" id="gains" value="0" disabled="disabled">
   </input>
</form>
</div>
</body>
