<h1>Quentin DELEGLISE</h1>

<video width="600" height="400" controls="control">
  <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592255533/intro_getl5m.mp4" type="video/mp4">
</video>
<h2>Hello, bienvenue sur mon site ;)</h2>
<h2>Ici je partage toutes mes réalisations.</h2>
<h3>Marketing / Croissance/ Automatisation / Programmation / Vidéos / Lectures</h3>
<img src="https://res.cloudinary.com/asfxgf/image/upload/v1592258689/Quentin_DELEGLISE_photo_1_bixsah.png" alt="">
<p>Pas de blabla, pas de risques, just do it !</p>



<h3 id="vision">Ma vision</h3>
<img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268524/samples/yeux_dmquy4.webp" alt="">
<p>Je pense que les entrepreneurs sont les personnes qui façonnent ce monde, et qu’elles méritent plus de soutien; de reconnaissance et de sécurité dans cet environnement imprévisible.Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et petites entreprises dans leur stratégie digitale. Pour installer une relation de confiance et garantir les meilleurs résultats aux entreprises que j'accompagne, je ne me rémunère qu'en fonction du résultat que j'apporte. Ainsi nous travaillons ensemble, avec des intérêts similaires dans un environnement sain.</p>

<h3>Mes études :</h3>
<img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268690/education_lq0zfc.jpg" alt="">
<p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (bac +2 marketing / commerce / communication) m'as donné goût au commerce et installé de fortes bases marketing.</p>
<p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (bac +3 gestion d'entreprise) m'as permis de mieux comprendre les problèmatiques rencontrées par les entrepreneurs.</p>
<p>Mon diplôme de <a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'as permis de prendre conscience du nombre infini de solutions qu'apporte le web et la programmation.</p>

<h3>Ma personnalité :</h3>

<p>Je suis curieux, timide et réservé.</p>
<p>Je possède un fort esprit analytique, je me fie aux chiffres (data-driven) et-non à mon intuition.</p>
<p>J'aime découvrir, tester et apprendre sur différents sujets (autodidacte).</p>
<p>Je n'aime pas parler de choses abstraites ou sur lesquelles je ne peux pas avoir d'impact.</p>

<h3>Mon potentiel</h3>

<p>La complémentarité de mes études mêlée à ma passion pour le growth-hacking et la gestion de projet me permet d'offrir des solutions optimales et efficaces en toute sécurité.</p>

Vous êtes entrepreneur ou travaillez dans une TPE/PME ? <a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> discutons de vos problématiques (mon expertise est gratuite).</a>
  <!--Mettre un emoji love / message-->

<h3>Liste de mes compétences :</h3>
<ul>
  <li>Elaboration et mise en place d’un plan marketing.</li>
  <li>Ecoute des problématiques et conseil sur les outils les plus adaptés à vos besoins.</li>
  <li>Trouver, enrichir et contacter des leads (prospects) automatiquement.</li>
  <li>Réalisation de sites webs et pages de ventes / location / vitrines.</li>
  <li>Réalisation de campagnes d’emailing.</li>
  <li>Réalisation de campagnes ADS (google / facebook / Instagram).</li>
  <li>Elaboration et réalisation d’un plan de branding d’une entreprise.</li>
  <li>Automatiser les <a title="tâche répétitive">"Drudgery tasks"</a> ou <a title="tâche répétitive">"Donkey Work".</a></li><!-- CSS afficher les 2 mots en "surbrillance pour les faire mieux apparaitre -->
</ul>

<p>Vous êtes entrepreneur ou travaillez dans une TPE/PME ? <a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> discutons de vos problématiques (mon expertise est gratuite).</a>
  <!--Mettre un emoji love / message-->

<h3>Envie d'en savoir plus sur moi ?</h3>
<ul>
  <li><%= link_to "Mes projets", projets_path %></li>
  <li><%= link_to "Mes ressources", ressources_path %></li>
  <li><%= link_to "Ma bibliothèque", livres_path %></li>
  <li><%= link_to "Mes articles", articles_path %></li>
  <li><%= link_to "Mes vidéos", videos_path %></li>
</ul>

<p><a href="#top">Top</a><p>
