<header>
  <div class="overlay sm-">
  </div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted">
    <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592255533/intro_getl5m.mp4" type="video/mp4">
  </video>
  <!-- Ici c'est pour ajouter du texte par dessus la vidéo, si jamais...
  <div class="container h-100">
    <div class="d-flex h-50 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Quentin DELEGLISE</h1>
        <p class="lead mb-0">Welcome to my portfolio</p>
      </div>
    </div>
  </div>
  -->
    <script type="text/javascript">
function computeGains() {
var gains = document.getElementById('gains');

var ca = document.getElementById('ca').value;
var marge = document.getElementById('marge').value;
var acquisition = document.getElementById('acquisition').value;
var activation = document.getElementById('activation').value;
var retention = document.getElementById('retention').value;
var referral = document.getElementById('referral').value;
var revenue = document.getElementById('revenue').value;

if (testInt(ca) && testInt(marge) && testInt(acquisition) && testInt(activation) && testInt(retention) && testInt(referral) && testInt(revenue)) {

gains.value =(

(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))+
(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))
*(parseInt(revenue)/100))

}

else {
alert('Les valeurs introduites ne sont pas des nombres');
}
}


function testInt(value) {
return value == parseInt(value);
}

function mafonction() {
  document.getElementByID('p_test').innerHTML = "Phrase à afficher";
}



</script>

</header>
<!--
Coucou petit coquin ! Bienvenue sur mon site, tu peux le maltraiter autant que tu voudras, tester des failles de sécurités etc ... Mais n'oublie pas de m'en informer :///////////////////
-https://www.linkedin.com/in/quentin-deleglise-7a4459131/   ////////////////
-Deleglise.quentin@hotmail.fr
Bonne navigation à toi,

Quentin DELEGLISE
-->
<body>
  <a href="#about" id=about>
    <svg class="thearrow" class="bi bi-arrow-down-circle-fill" width="em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
    </svg>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-">
        <div class="cardss-wrapper">

      <div class="cardss">

        <div class="cardss-image">
          <img src="https://res.cloudinary.com/asfxgf/image/upload/c_scale,h_450/v1592318108/Quentin_DELEGLISE_photo_1_bixsah.png" alt="Quentin DELEGLISE">
        </div>

      <ul class="social-icons">
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/quentintin1/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/asfxgf">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://medium.com/@quentindeleglise">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>Quentin DELEGLISE
          <br>
          <span class="job-title">Growth / Dev / Marketing</span>
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper -->
      </div>
      <div class="col-7">
        <h3>Mes compétences :</h3>
        <!-- réflechir à mettre un truc design du style des barres de progression ou autre plutôt que du texte on pourrait aussi par exemple faire une sorte de carroussel un peu dopé en css pour toutes les compétences.-->
        <h4>Automatisation :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%
          </div>
        </div>
        <h4>Outils web :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="color:black">80%
          </div>
        </div>
        <h4>Marketing :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
          </div>
        </div>
        <h4>Programmation (back) :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%
          </div>
        </div>
        <h4>Croissance :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%
          </div>
        </div>
        <h4>Programmation (front) :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%
          </div>
        </div>
        <h4>Vidéos :</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4>Mi-entrepreneur mi-développeur mi-marketeur, j'apporte mon expertise au service des entreprises qui souhaitent <b>digitaliser leur business</b>. La complémentarité de <b>mes études</b> mêlée à ma <b>passion</b> pour le <b>growth-hacking</b> et la <b>gestion de projets</b> me permet d'offrir des <b>solutions optimales</b>.
    </h4>
  </div>
  <a href="#visions" id="visions">
    <svg class="thearrow" class="bi bi-arrow-down-circle-fill" width="em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>
    </svg>
  </a>
  <div class="container">
    <h3 id="visions">Ma façon de voir les choses :</h3>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268524/samples/yeux_dmquy4.webp" alt="">
      </div>
      <div class="col-sm-8">
        <p>Je pense que les entrepreneurs sont les personnes qui façonnent ce monde, et qu’elles méritent plus de <b>soutien</b>; de <b>reconnaissance</b> et de <b>sécurité</b> dans cet environnement imprévisible.Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et petites entreprises dans leur stratégie digitale.<br>Pour installer <b>une relation de confiance</b> et garantir les meilleurs résultats aux entreprises que j'accompagne, je ne me rémunère qu'en fonction du résultat que j'apporte.
        </p>
        <p>Ainsi <b>nous travaillons ensemble, avec des intérêts similaires</b> dans un environnement sain.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (bac +2 marketing / commerce / communication) m'as donné goût au commerce et installé de fortes bases marketing.
        </p>
        <p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (bac +3 gestion d'entreprise) m'as permis de mieux comprendre les problèmatiques rencontrées par les entrepreneurs.
        </p>
        <p>Mon diplôme de <a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'as permis de prendre conscience du nombre infini de solutions qu'apporte le web et la programmation.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592476485/education-removebg-preview_1_ey1udg.png" alt="">
      </div>
      <h3 id="green">Quelques exemples de ce que je fait :</h3>
      <ul>
        <li>Elaboration et mise en place d’un <b>plan marketing</b>.</li>
        <li>Elaboration et mise en place d’un <b>plan de communication</b>.</li>
        <li>Ecoute des problématiques et <b>conseil sur les outils les plus adaptés</b> à vos besoins.</li>
        <li><b>Prospection</b> automatisée (BtoB et BtoC).</li>
        <li>Réalisation de <b>sites ou apps webs</b> et <b>pages de ventes.</b></li>
        <li>Réalisation de <b>campagnes d’emailing</b>.</li>
        <li>Réalisation de <b>campagnes ADS (google / facebook / Instagram)</b>.</li>
        <li>Automatiser les <a title="tâche répétitive"><u>"Drudgery tasks"</u></a> ou <a title="tâche répétitive"><U>"Donkey Work".</U></a></li><!-- CSS/JS afficher les 2 mots en "surbrillance pour les faire mieux apparaitre -->
      </ul>
    </div>
  </div>
  <div class="container">
    <h3>Vous êtes entrepreneur ou travaillez dans une TPE/PME ?<br><a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> Discutons de vos problématiques (mon analyse et conseils sont gratuits).</a></h3>
  <!--Mettre un emoji love / message-->
    </p>
  </div>
  <div class="container">
    <h3>Envie d'en savoir plus sur moi ?</h3>
    <ul>
     <li><h3><%= link_to "Découvre mes projets", projets_path %></h3></li>
     <li><h3><%= link_to "Mes ressources", ressources_path %></h3></li>
     <li><h3><%= link_to "Ma bibliothèque", livres_path %></h3></li>
     <li><h3><%= link_to "Mes articles", articles_path %></h3></li>
     <li><h3><%= link_to "Mes vidéos", videos_path %></h3></li>
    </ul>
  </div>
  <!-- NOUVEAU FORM CALCUL -->
  <div class="container">
    <form>
      <div class="form-row align-items-center">
      <div class="col-sm-6">
        <h4 class="text-center">Insérez vôtre CA :</h4>
        <label class="sr-only" for="inlineFormInputGroup">CA</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control text-center" id="ca" placeholder="Insérez votre CA" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">€</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Insérez vôtre marge :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Marge</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control text-center" id="marge" placeholder="Insérez votre marge" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux d'acquisition</h4>
      <label class="sr-only" for="inlineFormInputGroup">Acquisition</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="acquisition" placeholder="Taux d'acquisition" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux d'activation</h4>
      <label class="sr-only" for="inlineFormInputGroup">Activation</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="activation" placeholder="Taux d'activation" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de rétention</h4>
      <label class="sr-only" for="inlineFormInputGroup">Retention</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="retention" placeholder="Taux de rétention" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de referral</h4>
      <label class="sr-only" for="inlineFormInputGroup">Referral</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="referral" placeholder="Taux de referral" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">Taux de revenue</h4>
      <label class="sr-only" for="inlineFormInputGroup">Revenue</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="revenue" placeholder="Revenue" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-center">Bénéfice estimé (en €) :</h4>
   <input type="number" class="form-control text-center mt-3" id="gains" value="0" disabled="disabled">
   </input>
</form>
</div>
</body>
