<h1>Quentin DELEGLISE</h1>

<video width="600" height="400" control="controls" autoplay="autoplay" poster="v1592258288/introimage_iwsvjr.png">
  <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592255533/intro_getl5m.mp4" type="video/mp4">
</video>
<h2>Hello, bienvenue sur mon site ;)</h2>
<h2>Ici je partage toutes mes réalisations.</h2>
<h3>Marketing / Croissance/ Automatisation / Programmation / Vidéos / Lectures</h3>
<img src="https://res.cloudinary.com/asfxgf/image/upload/v1592258689/Quentin_DELEGLISE_photo_1_bixsah.png" alt="">
<p>Pas de blabla, pas de risques, just do it !</p>
<ul>
  <li><%= link_to "Mes convictions", convictions_path %></li>
  <li><%= link_to "Mes compétences", competences_path %></li>
  <li><%= link_to "Ressources", ressources_path %></li>
  <li><%= link_to "Projets", projets_path %></li>
  <li><%= link_to "Bibliothèque", livres_path %></li>
  <li><%= link_to "Articles", articles_path %></li>
  <li><%= link_to "Vidéos", videos_path %></li>
</ul>
