<header>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
function computeGains() {
var gains = document.getElementById('gains');

var ca = document.getElementById('ca').value;
var marge = document.getElementById('marge').value;
var acquisition = document.getElementById('acquisition').value;
var activation = document.getElementById('activation').value;
var retention = document.getElementById('retention').value;
var referral = document.getElementById('referral').value;
var revenue = document.getElementById('revenue').value;

if (testInt(ca) && testInt(marge) && testInt(acquisition) && testInt(activation) && testInt(retention) && testInt(referral) && testInt(revenue)) {

gains.value =(

(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))+
(((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))+
((((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))+
(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100)
+(((parseInt(ca)*parseInt(marge)/100))
+((parseInt(ca)*parseInt(marge)/100))*(parseInt(acquisition)/100))
*(parseInt(activation)/100))
*(parseInt(retention)/100))
*(parseInt(referral)/100))
*(parseInt(revenue)/100))

}

else {
alert('Les valeurs introduites ne sont pas des nombres');
}
}


function testInt(value) {
return value == parseInt(value);
}
</script>

<script>
  // fonction pour animer les images


$(document).ready(function() {

  //move the image in pixel
  var move = -15;

  //zoom percentage, 1.2 =120%
  var zoom = 1.2;

  //On mouse over those thumbnail
  $('.item').hover(function() {

    //Set the width and height according to the zoom percentage
    width = $('.item').width() * zoom;
    height = $('.item').height() * zoom;

    //Move and zoom the image
    $(this).find('img').stop(false,true).animate({'width':width, 'height':height, 'top':move, 'left':move}, {duration:200});

    //Display the caption
    $(this).find('div.caption').stop(false,true).fadeIn(200);
  },

  function() {
    //Reset the image
    $(this).find('img').stop(false,true).animate({'width':$('.item').width(), 'height':$('.item').height(), 'top':'0', 'left':'0'}, {duration:100});

    //Hide the caption
    $(this).find('div.caption').stop(false,true).fadeOut(200);
  });

});

</script>

<!-- Typed.js (le vrai)-->

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

</header>
<!--
Coucou petit coquin ! Bienvenue sur mon site, reste autant que tu voudras, mais n'oublie pas de m'informer si tu découvre des bugs ! //////////////////
-https://www.linkedin.com/in/quentin-deleglise-7a4459131/   ////////////////
-Deleglise.quentin@hotmail.fr
Bonne navigation à toi,

Quentin DELEGLISE
-->
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/asfxgf/image/upload/v1593434429/FullSizeRender_4_f1snq3.jpg);">
  <div class="container">
    <h1 id="green">J'apporte mes compétences techniques à vos projets !</h1>
    <h2 id="green">Digitalisez, automatisez et scalez sans apport de trésorerie.</h2>
    <div class="container">
      <div class="text-center">
        <!-- Typertext -->
        <div class="row">
          <div class="col-sm-12 text-center" >
            <h2 id="green">Je crée pour vous :</h2>
            <h2  id="writter" class="typewrite" data-period="2000" data-type= '[ "Sites et apps web.", "Landing page.","Campagnes mailing.", "Campagnes ads (google/fb/insta/linkedin etc...)", "Contenu (web, vidéo, photographie ...)", "Processus automatisés" ]'>
            <div id="typed-strings">
          </div>
            <span id="typed"></span>
            <script>
              var typed = new Typed('#typed', {
              strings: '#typed-strings',
              strings: [
              'Sites et apps web.',
              'Landing page.',
              'Campagnes mailing.',
              'Campagnes ads (google/fb/insta/linkedin etc...)',
              'Contenu (web, vidéo, photographie ...).',
              'Processus automatisés.',
              ],
              typeSpeed: 30,
              backSpeed: 15,
              smartBackspace: true,
              backDelay: 1000,
              loop: true,
              });
            </script>
            </h2>
          </div>
        </div>
            <!-- Début de widget de lien Calendly -->
            <br>
            <br>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a class="btn btn-flat" style="font-weight: bold;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quentin-deleglise'});return false;">Programmer un appel</a>
<!-- Fin de widget de lien Calendly -->
      </div>
    </div>
  </div>
</div>
  <!-- Partie Compétences -->
  <div class="container text-center">
    <h2 id="green">Qui suis-je ?</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
        <div class="cardss-wrapper">

      <div class="cardss">

        <div class="cardss-image">
          <img src="https://res.cloudinary.com/asfxgf/image/upload/c_scale,h_450/v1593199457/quentin_wagon_trois_jxsvtu.png" alt="Quentin DELEGLISE">
        </div>

      <ul class="social-icons">
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/quentintin1/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/asfxgf">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://medium.com/@quentindeleglise">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>Quentin DELEGLISE
          <br>
          <span class="job-title">Growth / Dev / Automation</span>
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper -->
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
        <div class="allprogressbar pt-6">
          <h2 id="green" class="text-center"><strong>Mes acquis :</strong></h2>
          <!-- activer les 2 dernières barres de progression pour montrer que je bosse dessus-->
          <h4><strong>Automatisation :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Outils web :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Marketing :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Programmation back :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Croissance :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Programmation front :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%
            </div>
          </div>
          <h4 id="blacktexted"><strong>Vidéos :</strong></h4>
          <div class="progress">
            <div id="blacktexted" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p>Entrepreneur, développeur et marketeur, j'apporte mon expertise au service des entreprises qui souhaitent <b>digitaliser leur business</b>, sans investir de trésorerie.<br><b>Mes études</b> couplées à ma <b>passion</b> pour le <b>growth-hacking</b> et la <b>gestion de projets</b> me permettent de proposer les <b>solutions optimales</b>.
    </p>
  </div>
  <div class="container text-center" id="green">
    <h2>Ma vision :</h2>
  </div>
  <div class="container text">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268524/samples/yeux_dmquy4.webp" alt="">
      </div>
      <div class="col-sm-12">
        <br><p>Les entrepreneurs façonnent notre monde et je pense qu'ils méritent davantage de <b>reconnaissance</b>, de <b>soutien</b> et de <b>sécurité</b> dans cet environnement imprévisible.<br>Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et des petites entreprises dans leur <b>stratégie digitale</b>.<br>Pour installer <b>une relation de confiance</b> et garantir les meilleurs résultats, ma rémunération est relative aux bénéfices que j'apporte.
        </p>
        <p>Ainsi <b>nous travaillons ensemble, avec des intérêts communs</b> dans un environnement sain.a
        </p>

        <!-- Ajouter un <a> pour lier vers l'article medium-->
      </div>
    </div>
  </div>
  <div class="container text-center" id="green">
    <h2>Mes études :</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 text-center">
        <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592476485/education-removebg-preview_1_ey1udg.png" alt="">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (Bac +2 marketing/commerce/communication) m'a donné goût au commerce et doté de fortes bases marketing.
        </p>
        <p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (Bac +3 gestion d'entreprises) m'a permis d'appréhender au mieux les problématiques des entrepreneurs.
        </p>
        <p>Mon diplôme du<a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time"> wagon </a><a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">"concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'a apporté les compétences techniques pour vous offrir les solutions les plus appropriées.
        </p>
        <p><%= link_to "Mes projets", projets_path, target: :_blank %>,<%= link_to " ma veille", ressources_path, target: :_blank %> et <%= link_to "mes lectures", livres_path, target: :_blank %> me nourrrissent au quotidien.<p>
      </div>
      <!-- Section Exemples / outils -->
      <div class="container text-center">
        <h2 id="green">Mes compétences :</h2>
      </div>
      <!-- Competences-->
      <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
          <img src="https://res.cloudinary.com/asfxgf/image/upload/v1593129573/imageonline-co-whitebackgroundremoved_10_uy3srg.png" alt="marketing">
        </div>
          <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
          <br>
          <p>- <b>Conseil sur les outils</b> les plus adaptés.</p>
          <p>- Mise en place d’un <b>plan marketing</b>.</p>
          <p>- Mise en place d’un <b>plan de communication</b>.</p>
          <p>- Mise en place d’un <b>plan d'actions</b>.</p>
          <p>- Réalisation de <b>mockups et prototypages</b>.</p>
          <p>- Réalisation de <b>sites ou apps webs</b>.</p>
          <p>- Réalisation de <b>pages de ventes</b>.</p>
          <p>- Réalisation de <b>campagnes d’emailing</b>.</p>
          <p>- Réalisation de <b>campagnes ADS</b>.</p>
          <p>- <b>Prospection</b> automatisée.</p>
          <p>- <b>Automatisation</b> des <u><abbr title="Tâches répétitives ou laborieuses.">"Drudgery tasks".</u></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center" id="green">
    <h2>Mes outils préférés :</h2>
  </div>
<!-- Début logo -->
<div class="container">
        <div class="row">
          <div class="col-sm-12">
          <ul>
            <li>
              <div class="item logo">
                <a href=""><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593106166/logos%20crm/slack_transparent_njywi7.png" alt="Slack" title="" width="150" height="125"/></a>
                  <div class="caption">
                    <a>Slack</a>
                    <p>Super outil de communication et dashboard.</p>
                  </div>
              </div>
           </li>
           <li>
              <div class="item logo">
                <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593109189/logos%20crm/imageonline-co-whitebackgroundremoved_4_se2tys.png" alt="Mailchimp" title="" width="125" height="125"/></a>
                  <div class="caption">
                    <a>Mailchimp</a>
                    <p>Super outil de design et automation mailing.</p>
                  </div>
              </div>
           </li>
           <li>
              <div class="item logo">
                <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593126190/logos%20crm/imageonline-co-whitebackgroundremoved_7_jeyboi.png" alt="Cycliner" title="" width="125" height="125"/></a>
                  <div class="caption">
                    <a>Drive</a>
                    <p>Automation; facturation; tableaux dynamiques.</p>
                  </div>
              </div>
           </li>
           <li>
              <div class="item logo">
                <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593105055/logos%20crm/zapier_uns6ft.svg" alt="Cycliner" title="" width="125" height="125"/></a>
                  <div class="caption">
                    <a>Zapier</a>
                    <p>Intuitif, peu-cher et rapide à utiliser, un trio gagnant.</p>
                  </div>
              </div>
           </li>
           <li>
              <div class="item logo">
                <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593105858/logos%20crm/ruby_and_rails_hlbqrv.png" alt="Cycliner" title="" width="125" height="125"/></a>
                  <div class="caption">
                    <a>RoR</a>
                    <p>Language qui allie rapidité, fléxibilité et polyvalence.</p>
                  </div>
              </div>
           </li>
           <li>
              <div class="item logo">
                <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593105831/logos%20crm/paypal_azs6es.png" alt="Cycliner" title="" width="125" height="125"/></a>
                  <div class="caption">
                    <a>Paypal/Stripe</a>
                    <p>Les meilleurs terminaux de paiement.</p>
                  </div>
              </div>
           </li>
           <li>
            <div class="item logo">
              <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593125986/logos%20crm/imageonline-co-whitebackgroundremoved_5_r8chqj.png" alt="Cycliner" title="" width="125" height="125"/></a>
             <div class="caption">
              <a>Airtable</a>
              <p>Un des meilleurs outils de gestion, bon design et pas cher.</p>
             </div>
            </div>
           </li>
           <li>
            <div class="item logo">
              <a href="#"><img src="https://res.cloudinary.com/asfxgf/image/upload/v1593128158/logos%20crm/imageonline-co-whitebackgroundremoved_8_zutlf1.png" alt="Cycliner" title="" width="125" height="125"/></a>
             <div class="caption">
              <a>Webflow</a>
              <p>Un CMS rapide, bon design avec nombreuses features.</p>
             </div>
            </div>
           </li>
          </ul>
        </div>

      <!--Fin test -->


      <!-- Section How-->
      <div class="container text-center" id="green">
         <h2>Comment ça marche ?</h2>
      </div>
      <div class="container text-center">
        <div>
         <img class="img-responsive" id="schema" src="https://res.cloudinary.com/asfxgf/image/upload/v1593101064/schema_a_modifier_2_jj3eku.png" alt="Schéma fonctionnement">
        </div>
        <div>
         <img class="img-responsive" id="schema_small" src="https://res.cloudinary.com/asfxgf/image/upload/v1593102772/schema_fini_1_qpwoum.png" alt="Schéma fonctionnement">
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto text-center">
    <h2 id="green">Tu es entrepreneur ou travailles dans une TPE/PME ?</h2>
    <br>
    <!-- Début de widget de lien Calendly -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a class="btn btn-flat" style="font-weight: bold;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quentin-deleglise'});return false;">Discutons de tes problématiques</a>
<!-- Fin de widget de lien Calendly -->
  <!--Mettre un emoji love / message-->
    </p>
  </div>
  <div class="container">
    <h2 id="green" class="mx-auto text-center">En savoir plus :</h2>
  </div>
  <div class="container">
    <div class="wrapper text-center">
      <%= link_to "Projets", projets_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
      <%= link_to "Articles", articles_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
      <%= link_to "Videos", videos_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
      <%= link_to "Ressources", ressources_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
      <%= link_to "Bibliothèque", livres_path, :class=>"btn btn-flat", :style=>'color:#000000;' %>
      <a href="https://github.com/asfxgf" target="_blank" class="btn btn-flat" style="color: #000000">Github</a>
    </div>
  </div>


  <!-- NOUVEAU FORM CALCUL -->
  <div class="container pb-3" style="background-color: grey">
    <h3 class="text-center" style="color: #54DD88">Simulation de l'impact de notre collaboration :</h3><br><br>
    <form>
      <div class="form-row align-items-center">
      <div class="col-sm-6">
        <h4 style="color: white" class="text-center">Insérer le CA :</h4>
        <label class="sr-only" for="inlineFormInputGroup">CA</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control text-center" id="ca" placeholder="Insérez votre CA" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">€</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center" style="color: white">Insérer la marge :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Marge</label>
      <div class="input-group mb-2">
        <input type="text" class="form-control text-center" id="marge" placeholder="Insérez votre marge" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
          <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center" style="color: white">Taux d'acquisition :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Acquisition</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+↗</div>
        </div>
        <input type="text" class="form-control text-center" id="acquisition" placeholder="Taux d'acquisition" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center" style="color: white">Taux d'activation :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Activation</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+↗</div>
        </div>
        <input type="text" class="form-control text-center" id="activation" placeholder="Taux d'activation" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center" style="color: white">Taux de rétention :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Rétention</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">↗+</div>
        </div>
        <input type="text" class="form-control text-center" id="retention" placeholder="Taux de rétention" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center" style="color: white">Taux de referral :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Referral</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+↗</div>
        </div>
        <input type="text" class="form-control text-center" id="referral" placeholder="Taux de referral" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center" style="color: white">Taux de revenue :</h4>
      <label class="sr-only" for="inlineFormInputGroup">Revenue</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">+↗</div>
        </div>
        <input type="text" class="form-control text-center" id="revenue" placeholder="Revenue" onChange="computeGains();" value="0">
        <div class="input-group-prepend">
        <div class="input-group-text">%</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-center" style="color: white">Bénéfice estimé (en €) :</h4>
   <input type="number" class="form-control text-center mt-3" id="gains" value="0" disabled="disabled">
   </input>
</form>
</div>
</body>
