<h1>Quentin DELEGLISE</h1>
<div class="video">
  <video width="600" height="400" controls="control">
    <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592255533/intro_getl5m.mp4" type="video/mp4">
  </video>
</div>
<div class="presentation">
<h2>Hello, bienvenue sur mon site, il m'as couté 0€ et me coûte 0€ par mois.</h2>
<h2>Ici je partage toutes mes réalisations, bonne visite.</h2>
<h3>Marketing / Croissance/ Automatisation / Programmation / Vidéos / Lectures</h3>
<img src="https://res.cloudinary.com/asfxgf/image/upload/v1592258689/Quentin_DELEGLISE_photo_1_bixsah.png" alt="">
<p>Pas de blabla, pas de risques, just do it !</p>
</div>

<div class="vision">
 <h3 id="vision">Ma vision</h3>
 <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268524/samples/yeux_dmquy4.webp" alt="">
 <p>Je pense que les entrepreneurs sont les personnes qui façonnent ce monde, et qu’elles méritent plus de <b>soutien</b>; de <b>reconnaissance</b> et de <b>sécurité</b> dans cet environnement imprévisible.Pour défendre cette cause, j’ai décidé d'accompagner des entrepreneurs et petites entreprises dans leur stratégie digitale.<br>Pour installer <b>une relation de confiance</b> et garantir les meilleurs résultats aux entreprises que j'accompagne, je ne me rémunère qu'en fonction du résultat que j'apporte. Ainsi <b>nous travaillons ensemble, avec des intérêts similaires</b> dans un environnement sain.</p>
</div>
<div class="etudes">
  <h3>Mes études :</h3>
  <img src="https://res.cloudinary.com/asfxgf/image/upload/v1592268690/education_lq0zfc.jpg" alt="">
  <p>Mon <a target="blank" href="https://thotismedia.com/dut-tc/">DUT TC</a> (bac +2 marketing / commerce / communication) m'as donné goût au commerce et installé de fortes bases marketing.</p>
  <p>Ma <a target="blank" href="https://www.google.com/search?sxsrf=ALeKk0114rH82c-MQweWmdnCB6nbBcgb9A%3A1590268879478&ei=z5PJXq_VHPHRgwe3-4SIAw&q=licence+professionnelle+métiers+de+l%27entrepreneuriat&oq=licence+professionnelle+métiers+de+l%27entrepreneuriat&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzICCAAyAggAMgIIADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BAgAEEdQhx5YiR9gtyBoAHABeACAAUeIAYoBkgEBMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjv-KGd9crpAhXx6OAKHbc9ATEQ4dUDCAw&uact=5">licence professionnelle MDE</a> (bac +3 gestion d'entreprise) m'as permis de mieux comprendre les problèmatiques rencontrées par les entrepreneurs.</p>
  <p>Mon diplôme de <a target="blank" href="https://www.lewagon.com/fr/paris/web-development-course/full-time">concepteur-développeur d'applications web"</a> (équivalent Bac+3/Bac+4) m'as permis de prendre conscience du nombre infini de solutions qu'apporte le web et la programmation.</p>
</div>
<div class="personnalite">
  <h3>Ma personnalité :</h3>
  <p>Je suis curieux; timide et réservé.</p>
  <p>Je possède un fort <b>esprit analytique</b> et je me fie aux chiffres (data-driven).</p>
  <p>J'aime découvrir, tester et me former sur différents sujets.</p>
  <p>Je n'aime pas parler de choses abstraites ou sur lesquelles je ne peux pas avoir d'impact.</p>
</div>
<div class="potentiel">
  <h3>Mon potentiel</h3>
  <p>La complémentarité de <b>mes études</b> mêlée à ma passion pour le <b>growth-hacking</b> et la <b>gestion de projets</b> me permet d'offrir des solutions optimales et efficaces en toute sécurité.</p>
</div>

<div class="competences">
  <h3 id=competences>Mes compétences :</h3>
  <!-- réflechir à mettre un truc design du style des barres de progression ou autre plutôt que du texte on pourrait aussi par exemple faire une sorte de carroussel un peu dopé en css pour toutes les compétences.-->
  <h4>Outils web : 80%</h4>
  <h4>Marketing : 75%</h4>
  <h4>Croissance : 80%</h4>
  <h4>Automatisation : 80%</h4>
  <h4>Programmation (back) : 65%</h4>
  <h4>Programmation (front) : 35%</h4>
  <h4>idéos : 40%</h4>
</div>
<div class="skills">
  <h3>Ce que je fait :</h3>
  <ul>
    <li>Elaboration et mise en place d’un <b>plan marketing</b>.</li>
    <li>Elaboration et mise en place d’un <b>plan de communication</b>.</li>
    <li>Ecoute des problématiques et <b>conseil sur les outils les plus adaptés</b> à vos besoins.</li>
    <li><b>Prospection</b> automatisée (BtoB et BtoC).</li>
    <li>Réalisation de <b>sites ou apps webs</b> et <b>pages de ventes.</b></li>
    <li>Réalisation de <b>campagnes d’emailing</b>.</li>
    <li>Réalisation de <b>campagnes ADS (google / facebook / Instagram)</b>.</li>
    <li>Automatiser les <a title="tâche répétitive"><u>"Drudgery tasks"</u></a> ou <a title="tâche répétitive"><U>"Donkey Work".</U></a></li><!-- CSS afficher les 2 mots en "surbrillance pour les faire mieux apparaitre -->
  </ul>
</div>
<div class="calltoaction">
  <p>Vous êtes entrepreneur ou travaillez dans une TPE/PME ? <a target="blank" href="https://www.linkedin.com/in/quentin-deleglise-7a4459131/"> discutons de vos problématiques (mon avis et conseils sont gratuits).</a>
  <!--Mettre un emoji love / message-->
  </p>
</div>
  <h3>Envie d'en savoir plus sur moi ?</h3>
<ul>
  <li><%= link_to "Mes projets", projets_path %></li>
  <li><%= link_to "Mes ressources", ressources_path %></li>
  <li><%= link_to "Ma bibliothèque", livres_path %></li>
  <li><%= link_to "Mes articles", articles_path %></li>
  <li><%= link_to "Mes vidéos", videos_path %></li>
</ul>

<p><a href="#top">Top</a><p>
