<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioQuentin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('logonavbar.png') %>
  </head>

  <body>
    <div class="linktohome">
      <p><a href="/">Accéder au site</a></p>
    </div>
    <div class="video-container embed-responsive-16by9">
      <video autoplay="autoplay" muted="muted">
        <source src="https://res.cloudinary.com/asfxgf/video/upload/v1592915231/samples/output_free_2_bzbgaz.mp4"/>
      </video>
    </div>
    <%= yield %>
  </body>
</html>


<!-- Ici c'est pour ajouter du texte par dessus la vidéo, si jamais...
  <div class="container h-100">
    <div class="d-flex h-50 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Quentin DELEGLISE</h1>
        <p class="lead mb-0">Welcome to my portfolio</p>
      </div>
    </div>
  </div>
  -->
